<!DOCTYPE html>
<html>
<head>
    <title>Email Verification</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="jumbotron mt-4">
            <h2 class="display-4">Email Verification</h2>
            <p class="lead">Hi {{ user.firstname }},</p>
            <p class="lead">Thank you for registering an account. Please click the button below to verify your email:</p>
            <a class="btn btn-primary" href="http://{{ domain }}/verify/{{ uid }}/{{ token }}">Verify Email</a>
            <p class="text-muted mt-3">If you didn't register an account, please ignore this email.</p>
        </div>
    </div>
</body>
</html>
